<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="js/firebug-lite/build/firebug-lite-beta.js#startOpened=true"></script>
	<body>
	
		<div ng-app="">
			<p>Name : <input type="text" ng-model="name"></p>
			<h1>Hello {{name}}</h1>
		</div>
	
	</body>
</html>
